/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
    /* border: 3px solid red; */
    position: relative;
}


.clearfix::after{
    content:'';
    display: table;
    clear:both;
}


.prezzi-rossi{
    color: red;
    margin-top: 3px;
}



/* /common */


/* parte superiore */

.float{
    float: left;
}

.img-sx{
    height: 500px;
    width: 33%;
    
}

.img-middle{
    height: 500px;
    width: calc(100% / 3 - 10px);
    margin: 0 5px;
}

.img-dx{
    height: 500px;
    width: 33%;
}



.box-sx{
    position: absolute;
    bottom: -60px;
}

.box-middle{
    position: absolute;
    bottom: -60px;
    left: 34%;
} 

.box-dx{
    position: absolute;
    bottom: -52px;
    right: 1%;
    background-color: #75ac51;
    width: 33%;
    line-height: 1.6;
}


.cuore{
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    left: 356px;
    font-size: 26px;
    text-align: center;
    
}


.cuore2{
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    left: 741px;
    font-size: 26px;
    text-align: center;
}

.cuore3{
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 26px;
    text-align: center;
}

.sconto{
    background-color: #d73b48;
    height: 20px;
    width: 40px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    bottom: 10px;
}

.sconto2{
    background-color: #d73b48;
    height: 20px;
    width: 40px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    bottom: 10px;
    left: 392px;
}


.sostenibilità{
    background-color: #3e8158;
    height: 20px;
    width: 90px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    bottom: 10px;
    left: 45px;
}

.sostenibilità2{
    background-color: #3e8158;
    height: 20px;
    width: 90px;
    position: absolute;
    font-size: 16px;
    text-align: center;
    bottom: 10px;
    right: 302px;
}



/* parte inferiore */

.secondo-div{
    margin-top: 100px;
}

.box-dx-esprit{
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 33%;
}


