/* common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
    /* border: 3px solid red; */
    position: relative;
}


.clearfix::after{
    content:'';
    display: table;
    clear:both;
}


/* /common */


/* parte superiore */

.float{
    float: left;
}

.img-sx{
    height: 500px;
    width: 33%;
    
}

.img-middle{
    height: 500px;
    width: calc(100% / 3 - 10px);
    margin: 0 5px;
}

.img-dx{
    height: 500px;
    width: 33%;
}

.levi{
    position: absolute;
    bottom:-20px;
}

.box-sx{
    position: absolute;
    bottom: -60px;
}

.prezzi-rossi{
    color: red;
    margin-top: 3px;
}